body {
    text-align: center;
    color: rgb(238, 234, 234);
    font-family: 'Overpass', Sans-Serif;
}
h1{
    font-family: 'Permanent Marker', cursive;
    //font-size: 1.7rem;
}
.section{
    height: 80vh;
    padding: 10vh;
    background-color: darkolivegreen;
}
#home {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/baguette-bake-baked-717130.jpg'), no-repeat center center fixed;
    //https://www.pexels.com/photo/stick-breads-on-wooden-plank-717130/
    background-size: cover;
    height: 100vh;
    width: 100%;
}
#logo {
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#about {
    background-color: tan;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.text{
    padding: 10vh;
}
#mary-photo {
    height: 80vh;
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    text-align:left;
    background-color: rgba(255,248,220,0.8);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.nav-text {
    float: left;
    padding: 2vh;
    font-size: 4vh;
    font-family: 'Permanent Marker', cursive;
}
li a{
    color: green;
    text-decoration: none;
}
a:hover {
    text-shadow: .5px 0 0 currentColor;
    cursor:pointer;
  }
#nav-logo {
    height: 10vh;
}
.fa {
    padding: 2vh;
    font-size: 100vh;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background: #3C5A99;
    color: rgb(238, 234, 234);
}
footer{
    height: 5vh;
    width: 100%;
    background-color: darkslategray;
    padding: 3vh;
}
.circle {
    content: ' \25CF';
    font-size: 200px;
  }