.section{
    height: 80vh;
    padding: 10vh;
}
#home {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../images/breadboard.jpg'), no-repeat center center fixed;
    background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
#logo {
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#about {
    background-color: tan;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;


}
.about-text{
    padding: 10vh;
    color: rgb(238, 234, 234);
}
#mary-photo {
    height: 80vh;
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 3vh;
    text-align:left;
    background-color: rgba(255,248,220,0.8);
}
li {
    float: left;
    padding-right: 9vh;
    font-size: 4vh;
}
li a{
    color: green;
}
